@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
  background-color: rgb(43, 42, 42);
}
.container {
  padding-top: 30px;
  margin: auto;
  width: 610px;
}

.grid-button {
  width: 200px;
  height: 200px; 
  border-radius: 10%;
  background-color: rgb(145, 145, 145);
} 



.grid-button:hover {
  background-color:#002ead;
  transition: 0.3s ease-in-out;
} 

h1 {
  padding-top: 50px;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  text-shadow: 4px 4px 8px #000;
  font-family:'Sigmar', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  animation: bounce 4s infinite;
  transition: all 1s ease;
}

@keyframes bounce {   
  0% { transform: translateY(0); }   
  50% { transform: translateY(-10px); }   
  100% { transform: translateY(0); } 
}